.title {
    position: static;
    margin-top: 160px;
    font-size: 18px;
    font-weight: bold;
    color: #222;
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
  }
   .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    margin: 50px 20px;
  }
   .flex-item {
    margin: 10px;
  }
   .btn {
    background-color: #222;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
  }
   .btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #222;
  }
   .law-school-image {
    border-radius: 15px;
    width: 100%;
    height: auto;
  }
  
   @media screen and (min-width: 768px) {
    .title {
      position: absolute;
      top: 0px;
      left: 50px;
      font-size: 24px;
    }
     .flex-container {
      margin-top: 200px;
      margin-left: 150px;
      margin-right: 150px;
    }
     .law-school-image {
      width: 700px;
      height: 350px;
    }
  }
   @media screen and (min-width: 1024px) {
     .flex-container {
      margin-top: 100px;
    }
  }
 